* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #008ECC;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    min-height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 24px;
}

header .top {
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
}

.navbar>a:nth-child(2) {
    width: 10%;
}

.navbar>a:nth-child(2)>img {
    width: 100%;
}

.navbar>form:nth-child(3)>input {
    width: 470px;
    padding: 9px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    outline: none;
    display: block
}

.navbar>form:nth-child(3) {
    display: flex;
    align-items: center;
    background-color: #9d9d9d;
    border-radius: 0px 3px 3px 0px;
    padding: 1px;
}

.navbar>form:nth-child(3) img {
    padding-left: 10px;
    padding-right: 5px;
}

.navbar>div:nth-child(4) {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
}

.navbar>div:nth-child(4) a {
    color: white;
}

.navbar>div:nth-child(5) {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.navbar>div:nth-child(5) a {
    color: white;
}

.nav-menu {
    /* display: flex; */
    /* padding: 10px; */
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    gap: 60px;
}

.nav-menu #menu-top {
    background-color: #008ECC;
    height: 100px;
}

#menu-top>div:nth-child(1) {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}

#menu-top>div:nth-child(1)>img:nth-child(3) {
    margin-left: 40%;
}

#menu-top>div:nth-child(2) button {
    background-color: #008ECC;
    padding: 7px 10px;
    color: white;
    border-color: white;
    border-radius: 3px;
    margin-left: 15px;
    margin-top: 10px;
}

#menu-bottom {
    padding-left: 15px;
    color: black;
}

#menu-bottom a {
    color: #3939be;
    text-decoration: underline;
}

#menu-bottom h3 {
    margin-top: 10px;
}

#menu-bottom img {
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 6px;
}

.nav-menu .nav-item {
    padding: 0px 15px;
}

.nav-link {
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #008ECC;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* @media (max-width:768px) { */
.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 17%;
    font-size: 13px;
    transition: 0.3s;
    z-index: 2;
    height: 760px;
    overflow: scroll;
}


hr {
    background-color: #cac6c6;
    height: 5px;
    width: 100%;
    border: none;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}

/* } */



/* ********************************* DROPDOWN OF NAVBAR ******************************/
.menu {
    background-color: #eae9e9;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    /* color: black; */
    font-size: 14px;
    /* font-weight: bold; */
}

.menu>ul>li {
    z-index: 2;
}

.menu ul li {
    padding: 15px 20px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu>ul>li:hover {
    background-color: rgb(220, 220, 220);
    border-radius: 2px;

}

.subMenu1 {
    display: none;
}

.menu>ul>li:hover .subMenu1 {
    display: block;
    position: absolute;
    background-color: #eae9e9;
    margin-top: 15px;
    margin-left: -15px;
}

.menu>ul>li:hover .subMenu1 ul {
    display: block;
    margin: 10px;
}

.menu>ul>li:hover .subMenu1 ul li {
    width: 200px;
    padding: 10px;
    /* border-bottom: 1px dotted white; */
    background-color: transparent;
    border-radius: 0px;
    text-align: left;
}

.menu>ul>li:hover .subMenu1 ul li:last-child {
    border-bottom: none;
}

.menu>ul>li:hover .subMenu1 ul li a:hover {
    /* background-color: red; */
    border-radius: 3px;
    color: #008ECC;
    padding: 7px;
}

/* *********************************************slider *********************/
.container {
    width: 100%;
    /* height: 240px; */
    /* background: #222; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.swiper {
    /* border: 1px solid red; */
    width: 100%;
    height: fit-content;
}

.swiper-slide>img {
    width: 100%;
    /* height: 500px; */
}


/* *****************************JOINT IMAGES **************************/

.joint-img>div:nth-child(1) {
    margin-bottom: -6px;
    /* height: 260px; */
}

.joint-img {
    width: 98%;
    margin: auto;
}

/* <!-- *********************SLIDER WITH 2 IMAGES******************************* --> */
.container2>.swiper>.swiper-wrapper>.swiper-slide {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    gap: 10px;
    padding-left: 9%;
}

.container2>.swiper>.swiper-wrapper>.swiper-slide>div {
    width: 45%;
}

.container2>.swiper>.swiper-wrapper>.swiper-slide>div:nth-child(1)>img {
    width: 100%;
}

.container2>.swiper>.swiper-wrapper>.swiper-slide>div:nth-child(2)>img {
    width: 100%;
}

/* *************************************************************************** */

#sim>div:nth-child(1) {
    width: 98%;
    margin: auto;
    background-color: #1636c7;
}

#sim>div:nth-child(1)>img {
    width: 80%;
    margin: auto;
    height: 150px;
}

#sim>div:nth-child(2) {
    width: 98%;
    margin: auto;
    margin-top: -10px;
}

#sim>div:nth-child(2)>img {
    width: 100%;
    height: 150px;
}

/* *********************** TRENDING BRANDS ********************** */

.container3 {
    /* border: 1px solid red; */
    height: 340px;
    margin-top: 30px;
}

.container3>h2 {
    margin-top: 40px;
    padding: 0px 70px;
    margin-bottom: 15px;
}

.container3>div {
    /* border: 1px solid red; */
    display: flex;
    width: 92%;
    margin: auto;
}

.container3>div>div {
    width: 20%;
}

.container3>div>div>img {
    width: 100%;
}

.container3>div>div>img:hover {
    width: 105%;
    cursor: pointer;
}

/* <!-- ****************** SLIDER WITH 6 IMAGES  ****************************--> */

.container4 {
    /* border: 1px solid red; */
    height: 330px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.container4>h2 {
    /* border: 1px solid navy; */
    padding: 0px 70px;
    margin-bottom: 10px;
}

.container4>.swiper {
    /* border: 1px solid navy; */
    width: 100%;
    margin: auto;
}

.container4>.swiper>.swiper-wrapper {
    /* border: 1px solid greenyellow; */
    width: 89%;
    margin: auto;
}

.container4>.swiper>.swiper-wrapper>.swiper-slide {
    /* border: 1px solid green; */
    width: 90%;
    gap: 10px;
    margin: auto;
    display: flex;
}

/* .container4>.swiper2>.swiper-wrapper>.swiper-slide>div{
    border: 1px solid blue;
} */
.container4>.swiper>.swiper-wrapper>.swiper-slide>div>img:hover {
    width: 103%;
    cursor: pointer;
}

.container4>.swiper>div>img {
    width: 100%;
}



/* ********************** CONTAINER5 PRODUCTS **************************** */

.container5 {
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
}

.container5>h2 {
    /* border: 1px solid navy; */
    margin-top: 40px;
    padding: 0px 70px;
    margin-bottom: 25px;
}

.container5>#cont5-products {
    /* border: 1px solid green; */
    width: 91%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 13%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

}

.container5>#cont5-products>div {
    border: 1px solid rgb(171, 169, 169);
    display: grid;
    gap: 5px;
    /* grid-template-rows: min-content; */
    padding: 10px;
    /* background: gray; */
    border-radius: 5px;
    ;
    /* aspect-ratio: 16 / 9; */
    /* object-fit: cover; */

}

.container5>#cont5-products>div>img {
    width: 100%;
}

.container5>#cont5-products>div>button {
    min-height: 30px;
    background-color: #008ECC;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.container5>#cont5-products>div>p:nth-child(2) {
    font-weight: bold;
    font-size: 12px;
    margin: 5px 0px;
}

.container5>#cont5-products>div>p:nth-child(3) {
    font-weight: bold;
    font-size: 18px;
}

.container5>#cont5-products>div>s:nth-child(4) {
    font-size: 14px;
}


/* *********************** FOOTER ********************************** */
.foot {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 30px;
    /* justify-content: space-around; */
    background-color: #eeeeee;
}

.foot>div {
    width: 20%;
    font-size: 14px;
    line-height: 20px;
    font-size: 13px;
    color: #838181;
}

.foot a {
    color: #3939be;
    text-decoration: underline;
}

.foot .foot-bold {
    font-weight: bold;
    color: black;
    font-size: 13px;
    margin-bottom: 10px;
}

.foot img {
    width: 100px;
    padding-right: 5px;
    border-radius: 3px;
}

.foot>div:nth-child(3) {
    /* border: 1px solid red; */
    border-left: 1px solid #838181;
    border-color: #bfb5b5;
    padding: 0px 26px;
}

footer>div:nth-child(2) {
    display: flex;
    width: 100%;
    background-color: #eeeeee;
    border-top: 1px solid #bfb5b5;
    justify-content: space-around;
    font-size: 12px;
    padding: 20px;
    color: #838181;
}